@model IEnumerable<ecommerce_shop.Models.Kieu>
@{
    ViewBag.Title = "Thêm danh mục sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_layout-admin.cshtml";
}
<form class="form-horizontal" style="margin-top: 20px">
    @using (Html.BeginForm("Add", "ProductCategory", FormMethod.Post, new { }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Thêm mới danh mục</legend>
            <div class="form-group">
                <label class="col-md-4 control-label">Tên danh mục sản phẩm</label>
                <div class="col-md-4">
                    <input name="TenKieu" placeholder="Nhập tên danh mục sản phẩm" class="form-control input-md" required="" type="text">
                </div>
            </div>
           

            <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton">   </label>
                <div class="col-md-4">
                    <input type="submit" class="btn btn-dark" value="Thêm">
                </div>
            </div>

        </fieldset>
    }

</form>



