@model IEnumerable<ecommerce_shop.Models.Kieu>
@{
    ViewBag.Title = "Danh mục sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_layout-admin.cshtml";
}



<style>
    .add-product a {
        float: right;
        position: absolute;
        top: 20px;
        right: 35px;
        background: #152036;
        padding: 6px 20px;
        color: #fff;
        border-radius: 4px;
    }

    .product-status-wrap h4 {
        font-size: 20px;
        color: #fff;
        margin-bottom: 20px;
    }

    .product-status-wrap table {
        width: 100%;
    }

        .product-status-wrap table th {
            padding: 20px 5px;
            vertical-align: top;
            border-top: 1px solid #152036;
        }

        .product-status-wrap table th {
            vertical-align: bottom;
            border-bottom: 2px solid #152036;
            color: #fff;
        }

    .product-status-wrap th, .product-status-wrap td {
        padding: 10px;
        text-align: left;
        font-size: 14px;
    }

    .product-status-wrap table td {
        padding: 9px 7px;
        border-top: 1px solid #152036;
        color: #fff;
        font-size: 14px;
    }

    .pd-setting-ed {
        color: #eb4b4b
    }

    .product-status-wrap img {
        width: 60px;
    }

    .custom-pagination ul.pagination li a {
        color: #fff;
        background-color: #152036;
        border: 1px solid #152036;
    }

    .custom-pagination ul.pagination {
        margin-bottom: 0px;
    }

    .product-status-wrap .pd-setting {
        border: none;
        color: #eb4b4b;
        padding: 5px 15px;
        font-size: 15px;
        background: #24caa1;
        border-radius: 3px;
    }

    .product-status-wrap .ps-setting {
        border: none;
        color: #eb4b4b;
        padding: 5px 15px;
        font-size: 15px;
        background: #2eb7f3;
        border-radius: 3px;
    }

    .product-status-wrap .ds-setting {
        border: none;
        color: #fff;
        padding: 5px 15px;
        font-size: 15px;
        background: #eb4b4b;
        border-radius: 3px;
    }

    .product-status-wrap {
        padding: 20px;
        background: #1b2a47;
    }
</style>
<div class="container-fluid">
    <div class="row" style="margin-top:20px">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="product-status-wrap">
                <h4>Danh mục sản phẩm</h4>
                <div class="add-product">
                    <a href="~/Admin/ProductCategory/Add">Thêm danh mục sản phẩm</a>
                </div>
                <table>
                    <tr>
                        <th>STT</th>
                   
                        <th>Tên Danh Mục</th>
                      
                      
                    </tr>
                    @if (Model != null && Model.Any())
                    {
                       
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ID</td>                     
                                <td>@item.TenKieu</td>                            
                                <td>
                                    <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                    <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                          
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4"> không có bản ghi nào</td>
                        </tr>
                    }


                </table>
                <div class="custom-pagination">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


