@import url('https://fonts.googleapis.com/css?family=Bangers|Cinzel:400,700,900|Lato:100,300,400,700,900|Lobster|Lora:400,700|Mansalva|Muli:200,300,400,600,700,800,900|Open+Sans:300,400,600,700,800|Oswald:200,300,400,500,600,700|Roboto:100,300,400,500,700,900&display=swap');
 
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Pixelify+Sans:wght@400;600;700&family=Rubik:wght@500&family=Sometype+Mono:wght@500&family=Work+Sans&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body {
    font-size: 17px;
    color: #424242;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");  
    display:flex;
    min-height:100%;
    flex-direction:column;
}
html{
    height:100%;
}
.wrapper {
    min-height: 100%;
    position: relative;

}
.content {
    padding-bottom: 60px; /* Điều này giữ cho footer không bị chồng lên nội dung */
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
 
}

.navbar-brand h3 {
    color: #E17A8D;
    font-weight: 300;
    font-size: 50px;
    line-height: 0.65;
    font-family: 'Lobster', cursive;
}

.navbar-brand p {
    font-size: 14px;
    margin-left: 50px;
    color: #545454;
    font-weight: 400;
    text-transform: capitalize;
    font-style: italic;
    font-family: 'Mansalva', cursive;
}
.nav-text {
    color: #545454;
    font-family: 'Oswald', sans-serif;
    font-family: 'Pixelify Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Sometype Mono', monospace;
    font-family: 'Work Sans', sans-serif;
}
/*shopping cart*/
.itemside {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

    .itemside .aside {
        position: relative;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }

    .itemside .info {
        padding-left: 15px;
        padding-right: 7px;
    }

    .itemside p {
        margin-bottom: 0;
    }

    .itemside .title {
        display: block;
        margin-bottom: 5px;
        color: #212529;
    }

    .itemside a.title:hover {
        color: #ff6a00;
    }
.img-sm {
    width: 80px;
    height: 80px;
}
a.itemside {
    color: initial;
}

.items-bordered-wrap .itemside:not(:last-child) {
    border-bottom: 1px solid #e5e7ea;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.itemlist {
    padding: 20px;
    border-bottom: 1px solid #eee;
}

.list-inline {
    margin-bottom: 0;
}

.list-inline-item {
    vertical-align: middle;
}

/**/
/*Product Card*/
.list-pro {
   
    display: flex;
    flex-wrap: wrap;                                                     
}
.product-card {
    max-width: 12em;
    background-color: #fff;
    padding: 1em;
    box-shadow: 0 5px #e1e1e1;
    margin-top: 50px;
    transform: scale(1.2);
    margin-top:100px
}

.product-card img {
    max-width: 100%;
}

.product-card h4 {
    font-size: 1.3em;
    margin: 0.5em 0;
}

.product-card div {
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card a {
    
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card:hover {
    background-color: lightslategray;
    color: #fff;
}

.product-card:hover img {
    color: #000;
   
}

@media screen and (max-width: 576px) {
    .product-card {
        font-size: 0.9em;
    }
}
/*Footer*/
footer {
    
    padding: 10px;
    bottom: 0;
    width: 100%;
    margin-top:auto
}

.site-footer {
    background-color: #dcc0a8;
    background-image: url(https://www.transparenttextures.com/patterns/back-pattern.png);
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #545454;
    
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #E17A8D;
    font-weight:bold;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #545454;
}

.site-footer a:hover {
    color: #545454;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #545454
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
    color: #E17A8D;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 48px;
    height: 48px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
        
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }

        .site-footer .copyright-text, .site-footer .social-icons {
            text-align: center
        }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

    .social-icons li.title {
        margin-right: 15px;
        text-transform: uppercase;
        color: #96a2b2;
        font-weight: 700;
        font-size: 13px
    }

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 48px;
    height: 48px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 48px;
    height:48px;
    width: 48px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}