
@{
    ViewBag.Title = "HuongDan";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<html>


<head>
    <style>
        li{
            text-decoration-line:none;
        }
    </style>
</head>
<body>
    <div class="row wrapper-row pd-page">
        <div class="col-md-3 hidden-sm hidden-xs">
            <div class="sidebar-page">

                <div class="group-menu">
                    <div class="page_menu_title title_block">
                        <h2>Danh mục trang</h2>
                    </div>
                    <div class="layered layered-category">
                        <div class="layered-content">
                            <ul class="tree-menu">


                                <li class="">
                                    <span></span>
                                    <a class="" href="#" title="Hướng dẫn mua hàng" target="_self">
                                        Hướng dẫn mua hàng
                                    </a>
                                </li>



                                <li class="">
                                    <span></span>
                                    <a class="" href="#" title="Phương thức thanh toán" target="_self">
                                        Phương thức thanh toán
                                    </a>
                                </li>



                                <li class="">
                                    <span></span>
                                    <a class="" href="#" title="Phương thức vận chuyển" target="_self">
                                        Phương thức vận chuyển
                                    </a>
                                </li>



                                <li class="">
                                    <span></span>
                                    <a class="" href="#" title="Chính sách đổi trả" target="_self">
                                        Chính sách đổi trả
                                    </a>
                                </li>



                                <li class="">
                                    <span></span>
                                    <a class="" href="#" title="Chính sách bảo mật" target="_self">
                                        Chính sách bảo mật
                                    </a>
                                </li>



                                <li class="">
                                    <span></span>
                                    <a class="" href="#" title="Điều khoản dịch vụ" target="_self">
                                        Điều khoản dịch vụ
                                    </a>
                                </li>



                                <li class="">
                                    <span></span>
                                    <a class="" href="#" title="Nguồn gốc sản phẩm" target="_self">
                                        Nguồn gốc sản phẩm
                                    </a>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>


                <div class="box_image visible-lg visible-md">
                    <div class="banner">
                            <img src="~/Content/images/page_banner1.jpg" style="width:300px; height:300px; " />
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-9 col-sm-12 col-xs-12" style="padding-left:50px">
            <div class="page-wrapper">
                <div class="heading-page">
                    <h1>Giới thiệu</h1>
                </div>
                <div class="wrapbox-content-page">
                    <div class="content-page ">
                        <h2><strong>Giới thiệu về chúng tôi - Coconut</strong></h2><p>Coconut là thương hiệu thời trang trẻ em mới có những sản phẩm đột phá trong lĩnh vực sản xuất và cung cấp, tất cả các sản phẩm xưởng may ra đều thân thiện với môi trường và làn da non nớt nhạy cảm của bé nên được các bậc phụ huynh tin tưởng.&nbsp;</p><p>Xưởng may của Coconut mỗi tháng có thể sản xuất ra hơn 10000 sản phẩm các loại với giá thành phẩm thấp, giá tốt cho các đơn vị nhập số lượng lớn đảm bảo sự ổn định bán buôn trong thị trường biến động ngày nay.&nbsp;</p><p>Coconut là một trong những đơn vị tiên phong phong trảo người Việt Nam dùng hàng Việt Nam và cũng là đơn vị sản xuất trong lĩnh vực xuất khẩu, đưa hàng Việt ra với thị trường nước bạn. Người Việt Nam phải được sử dụng những tinh túy tốt nhất đó là phương châm của xưởng. Chính vậy nên tát cả nguyên liệu may của xưởng đều được chọn lọc tỉ mỉ, phù hợp và an toàn với làn da của bé.&nbsp;</p><p>Nếu bạn đang kinh doanh hãy liên hệ với chúng tôi để được nhập hàng trực tiếp, không qua trung gian vì vậy sẽ đảm bảo được nguồn thu tốt nhất. Nếu bạn sợ hàng nhái, hàng giả, hàng kém chấy lượng khi mua sản phẩm trôi nổi thì Coconut và cho bạn 99% hài lòng khi bạn trao cho Coconut 1% tin tưởng.</p><h2><strong>Lý do bạn nên hợp tác với Coconut</strong></h2><ol><li>Nguồn nguyên liệu và nguồn hàng của Coconut lớn nên bạn không lo bị đứt hàng.&nbsp;</li><li>Mẫu mã được cập nhật liên tục mỗi ngày với số lượng thành phẩm cho ra liên tục và đa dạng. Đến với Coconut bạn không cần thời gian nghiên cứu mẫu nếu như bạn chưa có bộ sưu tập gia công cho xưởng.</li><li>Chính sách mua hàng - thanh toán - đổi trả hàng của Coconut minh bạch và nhất quán được thống nhất rõ với 2 bên ngay từ đầu nên bạn hoàn toàn yên tâm.</li><li>Giá sỉ tại Coconut tận gốc, ship code toàn quốc không qua bất kỳ 1 trung gian nào. Nếu như bạn chưa có sự lựa chọn hãy liên hệ ngay với Coconut để cảm nhận ngay sự hài lòng.</li><li>Chất lượng sản phẩm được kiểm định an toàn tuân thủ theo Hiệp Hội Bảo Vệ An Toàn cho người Tiêu Dùng và Hiệp Hội Xuất Khẩu Thương Mại Quốc Tế.</li><li>Hỗ trợ sỉ, cộng tác viên, đại lý theo cách tốt nhất bởi đội ngũ hỗ trợ Coconut luôn online 24.7 nhiệt tình với phương châm 10 năm không thay đổi. Khách hàng là nguồn sống và động lực cố gắng mỗi ngày của cả xưởng. Vậy nên mỗi khách hàng đều có chế độ chăm sóc, hỗ trợ tốt nhất để mang về doanh thu ổn định nhất cho cả 2 bên.</li><li>Hình thật 100% tự chụp của đội media, hình ảnh được chụp ngay khi sản phẩm vừa sản xuất xong và được căn chỉnh đúng kích thước để khách hàng dễ dàng đăng tải và cập nhật cho tuyến dưới của mình.</li><li>Nhận may gia công xuất khẩu nhanh chóng, đảm bảo với đội ngũ nhân công có sẵn, số lượng hàng hóa đảm bảo trên 10000 sản phẩm mỗi ngày.</li></ol><p>Để nhận được báo giá cũng như cảm nhận ngay sự hài lòng mà Coconut muốn gửi đến bạn hãy liên hệ với đội ngũ Coconut từ hôm nay. Thông tin liên hệ:</p><p>Website: https://coconut.vn/<br>Fanpage: https://www.facebook.com/quanaotreemcoconutvn<br>Hotline: 0113 114 115</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>