@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>

</head>
<body>
    <h1>Trang web này sẽ chuyển hướng tới trang khác</h1>
    <a href="https://www.example.com">Nhấp vào đây để chuyển hướng</a>
    <h1>My First Heading</h1>
    <p>My first paragraph.</p>

</body>
</html>