
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<head>
    <link href="~/Content/css/StyleHome.css" rel="stylesheet" />
    
</head>
<body>
    <div class="container" style="margin:0">
        <div class="row">
            <div class="col">
                <div>
                    <img alt="Web Studio" class="img-fluid" src="~/Content/imgs/8776719-removebg-preview.png" />
                </div>
                <div class="col">
             
                    <h2>Module Studio</h2>
                    <p class="">Whether you’re a full stack web developer, content author, or business professional – Solodev gives you the power to build, customize, and manage modules to boost your website.</p>
                </div>
               
            </div>
        </div>
    </div>  
</body>
