@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <link href="~/Content/IndexCSS.css" rel="stylesheet" />

</head>
<body>
 
   <h1>adsfdsfds</h1>
    <section class="products">
        <div class="product">
            <img src="product1.jpg" alt="Sản phẩm 1">
            <h2>Sản phẩm 1</h2>
            <p>Mô tả sản phẩm 1.</p>
            <p class="price">$29.99</p>
            <button class="buy-button">Mua ngay</button>
        </div>
        <!-- Thêm thêm sản phẩm tại đây -->
    </section>
    <footer>
        <p>&copy; 2023 Trang Web Bán Đồ Em Bé</p>
    </footer>
</body>
</html>