@model PagedList.PagedList<ecommerce_shop.Models.SanPham>
@using PagedList.Mvc;
@using PagedList;
 
@{
    ViewBag.Title = "ThoiTrang";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../Content/css/style.css" type="text/css" rel="stylesheet" />

</head>
<body>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {

                <div class="list-pro col-sm-6 col-md-4 col-lg-3">
                    <div class="product-card">
                        <img src="@Url.Content(item.HinhAnh)" />
                        <h4>@item.TenSanPham</h4>
                        <div>
                            <span>@Html.DisplayFor(model => item.GiaBan)K</span>
                            <a href="~/ShoppingCart/AddtoCart/@item.ID">
                                <img src="~/Content/imgs/icons8-plus-40.png" />
                            </a>

                        </div>
                    </div>
                </div>
            }
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>
</body>

</html>
