
@{
    ViewBag.Title = "CheckOutSuccess";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    
    }

    body {
        margin: 0;
        padding: 0;
        height: 50vh;
    }

  

    .div-giohang {
        max-width: 80%;
    }

    .fm-textcard th {
        width: 100px;
        color: #6c6d70;
    }

    .fm-bin {
        width: 30px;
        transition: all 0.3s;
        background-color: white;
    }

    .fm-bin:hover {
        transform: scale(1.1);
    }

    .buycontinue {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        position: absolute;
 
        text-decoration: none;
        color: white;
        background-color: black;
        padding: 15px;
        border-radius: 20px 0;
        font-size: 1.5em;
        transition: all 0.4s;
    }

    .buycontinue:hover {
      
        color: black;
        background-color: white;
        border: 1px solid black;
    }

    .div-Buy {
        position: relative;
        display: flex;
        margin-top: 10px;
    }

    .buy {
        position: absolute;
        right: 10px;
        text-decoration: none;
        color: black;
        background-color: white;
        padding: 15px;
        border-radius: 0 20px;
        font-size: 1.5em;
        transition: all 0.4s;
        border: 1px solid black;
    }

    .buy:hover {
        transform: scale(1.1);
        color: white;
        background-color: black;
    }

</style>
<div style="text-align:center">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h2 style="color:red">Đăng ký đơn hàng thành công</h2>
    <h4>Đơn hàng của bạn sẽ được gửi đến trong 2 - 3 ngày</h4>
    <a class="buycontinue center" href="@Url.Action("Index","Home")"> Tiếp tục mua hàng</a>
</div>

