
@model ecommerce_shop.Models.Cart

@{
    ViewBag.Title = "ReCheckOut";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
    }

    body {
        margin: 0;
        padding: 0;
        height: 100vh;
    }

    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        background: white;
        border-radius: 10px;
        box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
    }
</style>

<div class="container">
    @if (Session["Username"] != null)
    {
        <h1 style="text-align:center">Vui lòng xác nhận</h1>
        <div style="padding-top:50px;text-align:center;">
            @using (Html.BeginForm("CheckOut", "ShoppingCart"))
            {
                <table class="class=" div-recheckout" style="border-collapse:separate;border-spacing:5px">
                    <tr>
                        <td>Địa chỉ giao hàng: </td>
                        <td><input type="text" name="DiaChi" /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="CheckOut" class="btn btn-dark " />
                        </td>
                    </tr>
                </table>
            }
        </div>
    }

    else
    {
        <h1 style="color: black">Bạn chưa đăng nhập !!!</h1>
        <h3 style="color: #888888">Xin mời đăng nhập để tiếp tục mua hàng !!!</h3>
        <a class="btn btn-dark" href="~/Account/Login">Đăng nhập</a>
        /*    {Html.RenderAction("Login", "NguoiDung"); }*/
    }
</div>


