
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<html>


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <style>  
        .container-detail {
            max-width: 75%;
            margin: auto;
            height: 80vh;
            margin-top: 5%;
            background: white;
            box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.3);
        }

        .left, .right {
            width: 50%;
            padding: 30px;
        }

        .flex {
            display: flex;
            justify-content: space-between;
        }

        .flex1 {
            display: flex;
        }

        .main_image {
            width: auto;
            height: auto;
        }

        .option img {
            width: 75px;
            height: 75px;
            padding: 10px;
        }

        .right {
            padding: 50px 100px 50px 50px;
        }

        h3 {
            color: #af827d;
        }
        h4 {
            color: red;
        }

        h5 {
            font-size: 15px;
        }

        label,
        .add span,
        .color span {
            width: 25px;
            height: 25px;
            background: #000;
            border-radius: 50%;
            margin: 20px 10px 20px 0;
        }

        .color span:nth-child(2) {
            background: #EDEDED;
        }

        .color span:nth-child(3) {
            background: #D5D6D8;
        }

        .color span:nth-child(4) {
            background: #EFE0DE;
        }

        .color span:nth-child(5) {
            background: #AB8ED1;
        }

        .color span:nth-child(6) {
            background: #F04D44;
        }

        .add label,
        .add span {
            background: none;
            border: 1px solid #C1908B;
            color: #C1908B;
            text-align: center;
            line-height: 25px;
        }

        .add label {
            padding: 10px 30px 0 20px;
            border-radius: 50px;
            line-height: 0;
        }

        .btn-detail {
            width: 100%;
            padding: 10px;
            border: none;
            outline: none;
            background: #C1908B;
            color: white;
            margin-top: 20%;
            border-radius: 30px;
        }
    </style>
</head>
<body>
    <section>
        <div class="container-detail flex">
            <div class="left">
                <div class="main_image">

                    <img src="~/Content/images/tai nghe/p6.jpg" style="width:500px; height:475px; " />

                </div>
                <div class="option flex">

                    <img src="~/Content/images/tai nghe/p1.jpg" />
                    <img src="~/Content/images/tai nghe/p2.jpg" />
                    <img src="~/Content/images/tai nghe/p3.jpg" />
                    <img src="~/Content/images/tai nghe/p4.jpg" />
                    <img src="~/Content/images/tai nghe/p5.jpg" />
                    <img src="~/Content/images/tai nghe/p6.jpg" />
                </div>
            </div>
            <div class="right">
                <h3>Tai nghe trung quoc</h3>
                <h4> <small>$</small>999VNĐ</h4>
                <p> Sản phẩm tai nghe kết nối bluetooth âm thanh nghe sống động  </p>
                <h5>Color-Rose Gold</h5>
                <div class="color flex1">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <h5>Number</h5>
                <div class="add flex1">
                    <input type="number" min="0" value="1">
                </div>

                <input type="submit" class="btn-detail" value="them vao gio hang/ mua ngay">
            </div>
        </div>
    </section>

</body>
</html> 
